<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- <script src="https://unpkg.com/htmx.org@2.0.0"></script> -->
    <script type="text/javascript" th:src="@{/webjars/htmx.org/dist/htmx.min.js}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>

<body>

    <h1>Welcome to HTMX POC</h1>
    <button hx-get="/greet" hx-swap="outerHTML">Greetings </button>
</body>
</html>

</html>